{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} App Searcher {% endblock title %}

{% block javascripts %}
	<script>
		$("#searchForm").submit(function (e) {
			e.preventDefault();
			var serializedData = $(this).serialize();
			$.ajax({
				type: 'GET',
				url: "{% url 'search_app' %}",
				data: serializedData,
				beforeSend: function () {
					$(".send-data").prop("disabled", true);
				},
				success: function (data) {
					var info = data;
					$(".send-data").prop("disabled", false);
					if (info['error_message']) {
						document.getElementById("appInfo").style.display = "none";
						document.getElementById("error").style.display = "block";
						document.getElementById("error_message").innerHTML = info['error_message'];
					} else {
						document.getElementById("error").style.display = "none";
						document.getElementById("appInfo").style.display = "block";
						document.getElementById("iconValue").src = info['app_icon'];
						document.getElementById("nameValue").innerHTML = info['app_name'];
						document.getElementById("developerValueSmall").innerHTML = info['developer_name'];
						document.getElementById("developerValueBig").innerHTML = info['developer_name'];
						document.getElementById("descriptionValue").innerHTML = info['description'];
						document.getElementById("ratingValue").innerHTML = info['app_rating'];
						document.getElementById("totalReviewsValue").innerHTML = info['total_reviews'];
						if (info['store'] == 'google') {
							document.getElementById("downloadValue").innerHTML = info['total_downloads'];
						} else {
							document.getElementById("downloadInfo").style.display = "none";
						}
					}
				}
			});
		});
	</script>
{% endblock javascripts %}

{% block content %}
	<div class="container">
		<form id="searchForm" method="get" search-app-url="{% url 'search_app' %}">
			{% csrf_token %}
			<div class="form-row">
				<div style="padding-left:29px;" class="col-5 col-md-3 mb-3 custom-control custom-radio custom-control-inline">
					<input onclick="toggleStore()" type="radio" id="playStore" name="store" value="google" class="custom-control-input" checked>
					<label class="custom-control-label" for="playStore">Play Store</label>
				</div>
				<div class="col-5 col-md-3 mb-3 custom-control custom-radio custom-control-inline">
					<input onclick="toggleStore()" type="radio" id="appStore" name="store" value="apple" class="custom-control-input">
					<label class="custom-control-label" for="appStore">App Store</label>
				</div>
			</div>
			<div id="playStoreInput">
				<div class="form-row">
					<div class="col-12 col-md-10 mb-3"> 
						<input type="text" class="form-control" placeholder="Package Name" name="package_name" id="package_name" pattern="^([A-Za-z]{1}[A-Za-z\d_]*\.)+[A-Za-z][A-Za-z\d_]*$" required>
					</div>
					<div class="col-md-2">
						<div class="d-none d-md-block">
							<button type="submit" class="btn btn-primary send-data">Get Info</button>
						</div>
					</div>
				</div>
			</div>
			<div id="appStoreInput">
				<div class="form-row">
					<div class="col-6 col-md-5 mb-3">
						<input type="text" class="form-control" placeholder="Application Name" name="app_name" id="app_name">
					</div>
					<div class="col-6 col-md-5 mb-3">
						<input type="number" class="form-control" placeholder="Application Id" name="app_id" id="app_id">
					</div>
					<div class="col-md-2">
						<div class="d-none d-md-block">
							<button type="submit" class="btn btn-primary send-data">Get Info</button>
						</div>
					</div>
				</div>
			</div>
			<div class="d-md-none">
				<div class="form-row">
					<div class="col-12 center">
						<button type="submit" class="btn btn-primary send-data">Get Info</button>
					</div>
				</div>
			</div>
		</form>
		<div class="error" id="error">
			<div class="row">
				<div class="col-12 col-md-12">
					<span id="error_message"></span>
				</div>
			</div>
		</div>
		<div class="app-info" id="appInfo">
			<div class="row">
				<div class="col-5 col-md-4" id="iconInfo">
					<div class="label-info">App Icon</div>
					<div class="label-value">
						<img src="" width="96px" height="96px" class="app_icon" id="iconValue" />
					</div>
				</div>
				<div class="col-6 col-md-4" id="nameInfo">
					<div class="label-info">App Name</div>
					<div class="label-value" id="nameValue"></div>
					<div id="developerInfoSmall">
						<div class="developer-name d-block d-md-none">
							<div class="label-info">Developer Name</div>
							<div class="label-value" id="developerValueSmall"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4" id="deveoperInfoBig">
					<div class="d-none d-md-block">
						<div class="label-info">Developer Name</div>
						<div class="label-value" id="developerValueBig"></div>
					</div>
				</div>
			</div>
			<div class="info-margin"></div>
			<div class="row">
				<div class="col-12 col-md-12" id="descriptionInfo">
					<div class="label-info">Description</div>
					<div class="label-value" id="descriptionValue"></div>
				</div>
			</div>
			<div class="info-margin"></div>
			<div class="row">
				<div class="col-12 col-md-4" id="downloadInfo">
					<div class="label-info">No. of downloads</div>
					<div class="label-value" id="downloadValue"></div>
					<div class="info-margin"></div>
				</div>
				<div class="col-5 col-md-4" id="ratingInfo">
					<div class="label-info">App Rating</div>
					<div class="label-value" id="ratingValue"></div>
				</div>
				<div class="col-6 col-md-4" id="totalReviewsInfo">
					<div class="label-info">No. of reviews</div>
					<div class="label-value" id="totalReviewsValue"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
