{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Keyword Finder {% endblock title %}

{% block javascripts %}
	<script>
		$("#getKeywordsForm").submit(function (e) {
			e.preventDefault();
			var serializedData = $(this).serialize();
			$.ajax({
				type: 'GET',
				url: "{% url 'get_keywords' %}",
				data: serializedData,
				beforeSend: function () {
					$(".send-data").prop("disabled", true);
				},
				success: function (data) {
					var info = data;
					$(".send-data").prop("disabled", false);
					if (info['error_message']) {
						document.getElementById("keywords").style.display = "none";
						document.getElementById("error").style.display = "block";
						document.getElementById("error_message").innerHTML = info['error_message'];
					} else {
						document.getElementById("keywords").style.display = "block";
						document.getElementById("error").style.display = "none";
						$.each(info['url_keywords'], function(index,value){
							$("#urlKeywords").append('<li>'+value+'</li>');
						});
						if (Array.isArray(info['recommended_keywords'])){
							$("#recommendedKeywords").html("<ul class='label-value' id='r_key'></ul>");
							$.each(info['recommended_keywords'], function(index,value){
								$("#r_key").append('<li>'+value+'</li>');
							});
						} else {
							document.getElementById("recommendedKeywords").innerHTML = info['recommended_keywords'];
						};
						if (Array.isArray(info['recommended_url'])){
							$("#recommendedURL").html("<ul class='label-value' id='r_url'></ul>");
							$.each(info['recommended_url'], function(index,value){
								$("#r_url").append('<li>'+value+'</li>');
							});
						} else {
							document.getElementById("recommendedURL").innerHTML = info['recommended_url'];
						};
					};
				},
			});
		});
	</script>
{% endblock javascripts %}

{% block content %}
	<div class="container">
		<form id="getKeywordsForm" method="get">
			{% csrf_token %}
			<div id="urlData">
				<div class="form-row">
					<div class="col-12 col-md-9 mb-3"> 
						{{ form.url }}
					</div>
					<div class="col-md-3">
						<div class="d-none d-md-block">
							<button type="submit" class="btn btn-primary send-data">Get Keywords</button>
						</div>
					</div>
					<div class="col-12 center">
						<div class="d-md-none">
							<button type="submit" class="btn btn-primary send-data">Get Keywords</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	
		<div class="error" id="error">
			<div class="row">
				<div class="col-12 col-md-12">
					<span id="error_message"></span>
				</div>
			</div>
		</div>
	
		<div class="keywords" id="keywords">
			<div class="row">
				<div class="col-12">
					<div class="label-info">URL Keywords</div>
					<ul class="label-value" id="urlKeywords"></ul>
				</div>
			</div>
			<div class="info-margin"></div>
			<div class="row">
				<div class="col-12">
					<div class="label-info">Recommended Keywords</div>
					<div class="label-value" id="recommendedKeywords"></div>
				</div>
			</div>
			<div class="info-margin"></div>
			<div class="row">
				<div class="col-12 col-md-12">
					<div class="label-info">Recommended Url</div>
					<div class="label-value" id="recommendedURL"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
