body {
	margin: 4rem 0;
}

h4 {
	margin-bottom: 2rem;
	margin-top: 3rem;
}

.center {
	text-align: center;
}

#appStoreInput {
	display: none;
}

.app-info,
.keywords {
	margin-top: 2.5em;
}

.label-info {
	font-weight: bold;
}

.app_icon {
	margin-top: 6px;
	margin-bottom: 6px;
}

.info-margin {
	margin-bottom: 12px;
}

.developer-name {
	margin-top: 15px;
}

#appInfo,
#keywords {
	display: none;
}

.error {
	font-weight: bold;
	color: #CC0000;
	margin-top: 2.5em;
}

#error {
	display: none;
}

